@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');

.WeKnow{
    /* background-color: bisque; */
    margin: auto;
    text-align: left;
    width: 980px;
    margin-top: 420px;
}

.Text1{
    text-align: left;
    font-family: 'Righteous', cursive;
    font-size: 72px;
}

.Text2{
    text-align: right;
    font-size: 24px;
    font-family: 'Rosario', sans-serif;
    font-weight: 400;
    padding-left: 80px;
}